* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* <!-- header section --> */

header {
  background-image: url(./images/Hero-bg.png);
  width: 100vw;
  height: 80vh;
  background-position: top;
  background-size: cover;
}

.head {
  max-width: 1240px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav > h2 {
  font-size: 40px;
  color: rgb(70, 28, 223);
  font-family: sans-serif;
  font-weight: 800;
}

nav > .sign-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(70, 28, 223);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

nav > .sign-button:hover {
  background-color: rgb(155, 100, 206);
}

.head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 640px;
  margin: 30px auto;
}

.head-content > h1 {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
}

.head-content > .focus-button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(70, 28, 223);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.head-content > .focus-button:hover {
  background-color: rgb(155, 100, 206);
}

/* <!-- see it action --> */

.webflow-content {
  width: 100%;
  min-height: 700px;
  background-color: rgb(242, 238, 247);
}

.content-one {
  max-width: 1240px;
  margin: 0 auto;
}

.content-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.content-parent h1 {
  font-family: sans-serif;
  font-size: 60px;
}

.content-parent p {
  font-size: 24px;
  width: 80%;
  text-align: left;
  color: gray;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-parent img {
  border-radius: 30px;
}

.launch-button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(70, 28, 223);
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.launch-button:hover {
  background-color: rgb(183, 143, 221);
}
/* <!-- user section --> */

.user {
  width: 100%;
  min-height: 400px;
  background-color: rgb(242, 238, 247);
}

.user-content {
  max-width: 1240px;
  margin: 0 auto;
  height: 250px;
  background-color: rgb(198, 202, 228);
  border-radius: 20px;
}

.user-content h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 35px;
  font-family: sans-serif;
}

.action-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
}

.action-parent div h1 {
  font-size: 50px;
  color: rgb(70, 28, 223);
}

.action-parent div p {
  font-size: 18px;
  font-family: sans-serif;
  color: gray;
}

/* <!-- users reviews --> */

.user-review {
  width: 100%;
  min-height: 600px;
  background-color: rgb(242, 238, 247);
}

.user-comment {
  max-width: 1240px;
  margin: 0 auto;
}

.user-comment h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  font-family: sans-serif;
}

.fa-star {
  color: rgb(223, 196, 45);
}

.comment-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
  border-radius: 10px;
}

.profile {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.icon-div {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  width: 350px;
  padding: 20px;
  gap: 12px;
}

.icon-div > h2 {
  font-family: sans-serif;
}

.icon-div > p {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(66, 64, 64);
}

.profile > img {
  border-radius: 50%;
}

.profile h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: grey;
}

.profile p {
  font-family: sans-serif;
  color: gray;
}

/* <!-- Ready to Focus --> */

.template-section {
  width: 100%;
  min-height: 800px;
  background-color: rgb(242, 238, 247);
}

.template-content {
  max-width: 1240px;
  margin: 0 auto;
}

.template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
  border-radius: 20px;
  height: 700px;
}

.template > h1 {
  font-family: sans-serif;
  font-size: 40px;
}

.template > p {
  font-family: sans-serif;
  font-size: 16px;
  color: gray;
}

.template > button {
  height: 40px;
  width: 170px;
  background-color: rgb(70, 28, 223);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-style: none;
  border-radius: 10px;
}

.template > button:hover {
  background-color: rgb(155, 100, 206);
}
.template > img {
  border-radius: 30px;
}

/* <!-- Let's Get in touch --> */

.form-section {
  width: 100%;
  min-height: 500px;
  background-color: rgb(242, 238, 247);
}

.form-content {
  max-width: 1240px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

#email {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  padding-left: 15px;
  font-size: 16px;
  font-family: sans-serif;
}

#name {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  padding-left: 15px;
  font-size: 16px;
  font-family: sans-serif;
}

#message {
  width: 350px;
  height: 70px;
  border-radius: 10px;
  border-style: none;
  padding-left: 15px;
  font-size: 16px;
  font-family: sans-serif;
}

label {
  line-height: 2;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
}

.form-line > button {
  width: 350px;
  height: 50px;
  background-color: rgb(70, 28, 223);
  border-radius: 10px;
  border-style: none;
  font-size: 16px;
  color: white;
}

.form-line > button:hover {
  background-color: rgb(155, 100, 206);
}

.form > h1 {
  font-size: 97px;
  font-family: sans-serif;
}

/* <!-- footer --> */

footer {
  width: 100%;
  height: 300px;
  background-color: white;
}

.footer-section {
  max-width: 1240px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 180px;
}

.footer-content > h1 {
  font-size: 80px;
  color: rgb(70, 28, 223);
  font-family: sans-serif;
  font-weight: 1000;
}

.footer-content > p {
  font-size: 18px;
  font-family: sans-serif;
  color: gray;
  padding: 0 20%;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-bar > li {
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  font-size: 18px;
  color: gray;
  font-family: sans-serif;
}
