* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(./images/Hero-bg.png);
  width: 100vw;
  height: 80vh;
  background-position: top;
  background-size: cover;
}

.head {
  max-width: 1240px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav > h2 {
  font-size: 40px;
  color: rgb(70, 28, 223);
  font-family: sans-serif;
}

nav > .sign-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(70, 28, 223);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 640px;
  margin: 30px auto;
}

.head-content > h1 {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
}

.head-content > .focus-button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(70, 28, 223);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.webflow-content {
  width: 100%;
  min-height: 700px;
  background-color: rgb(235, 239, 241);
}

.content-one {
  max-width: 1240px;
  margin: 0 auto;
}

.content-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.content-parent h1 {
  font-family: sans-serif;
  font-size: 60px;
}

.content-parent p {
  font-size: 24px;
  width: 80%;
  text-align: left;
  color: gray;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-parent img {
  border-radius: 20px;
}

.launch-button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(70, 28, 223);
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.user {
  width: 100%;
  min-height: 400px;
  background-color: rgb(235, 239, 241);
}

.user-content {
  max-width: 1240px;
  margin: 0 auto;
  height: 250px;
  background-color: rgb(200, 203, 219);
  border-radius: 20px;
}

.user-content h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 35px;
  font-family: sans-serif;
}

.action-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
}

.action-parent div h1 {
  font-size: 50px;
  color: rgb(70, 28, 223);
}

.action-parent div p {
  font-size: 18px;
  font-family: sans-serif;
  color: gray;
}

.user-review {
  width: 100%;
  min-height: 600px;
  background-color: rgb(242, 238, 247);
}

.user-comment {
  max-width: 1240px;
  margin: 0 auto;
}

.user-comment h1 {
  text-align: center;
  padding-top: 20px;
}

.fa-star {
  color: rgb(223, 196, 45);
}

.comment-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
  border-radius: 10px;
}

.profile {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.icon-div{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  width: 350px;
  padding: 20px;
  gap: 12px;
}